# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
JMS/target/
Commons/target/
Basics/target/
Concurrency/target/
out
gen
